table {
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 2em auto;
}

td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.pass, .fail, .error, .none {
  font-family: monospace;
  padding: 0px 5px 0px 5px;
}

.pass {
  color: green;
  background: lightgreen;
}

.fail {
  color: red;
  background: pink;
}

.error {
  color: white;
  background: red;
  width: 100%;
}

.none {
  color: #666;
  background: lightgray;
}

.testcase {
  font-family: monospace;
  padding: 0px 5px 0px 5px;
}
